pipeline/TestPipeline.json
{
	"name": "TestPipeline",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://asakeyvaultu6yr2x0.vault.azure.net/secrets/PipelineSecret/ade1eb698287467681bc26f403b523fe?api-version=7.1",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"httpRequestTimeout": "00:01:00",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SecretValue",
					"value": {
						"value": "@activity('Web1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"SecretValue": {
				"type": "String",
				"defaultValue": "IsNotASecret"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-24T18:35:41Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}